<div class="main-menu">
  <div class="accordion accordion-js">
    <div class="accordion__item">
      <div class="accordion-title active">AWS Global Infrastructure</div>
      <div class="accordion-content">
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">New Category</a></li>
          <li><a href="#">Category Others</a></li>
          <li><a href="#">Another One</a></li>
        </ul>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion-title">Setting Federation</div>
      <div class="accordion-content">
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">New Category</a></li>
          <li><a href="#">Category Others</a></li>
          <li><a href="#">Another One</a></li>
        </ul>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion-title">Encrypting EBS Store</div>
      <div class="accordion-content">
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">New Category</a></li>
          <li><a href="#">Category Others</a></li>
          <li><a href="#">Another One</a></li>
        </ul>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion-title">Creating Public S3</div>
      <div class="accordion-content">
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">New Category</a></li>
          <li><a href="#">Category Others</a></li>
          <li><a href="#">Another One</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="soc-icons">
    <ul>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</div>
<div class="overlay-menu"></div>