<div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="subscribe__text">Signup For Our Newsletter</div>
        </div>
        <div class="col-md">
          <div class="subscribe__form">
            <div class="input">
              <span>
                <i class="fas fa-envelope-open"></i>
                <input type="text" placeholder="Enter Your Email Address" [ngStyle]="{'margin': '0px'}">
              </span>
              <button>Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md col-sm-6">	
          <div class="footer__group">
            <div class="footer__group-title">INFORMATION</div>
            <div class="footer__group-links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>About Us</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Additonal Info</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Privacy Policy</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Terms &amp; Conditions</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>FAQ’s</a>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-6">
          <div class="footer__group">
            <div class="footer__group-title">OTHER</div>
            <div class="footer__group-links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>About Us</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Additonal Info</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Privacy Policy</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Terms &amp; Conditions</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>FAQ’s</a>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-6">
          <div class="footer__group">
            <div class="footer__group-title">RESOURCE</div>
            <div class="footer__group-links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>About Us</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Additonal Info</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Privacy Policy</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Terms &amp; Conditions</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>FAQ’s</a>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-6">
          <div class="footer__group">
            <div class="footer__group-title">SITE MAP</div>
            <div class="footer__group-links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>About Us</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Additonal Info</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Privacy Policy</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>Terms &amp; Conditions</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>FAQ’s</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="follow-us">
            <div class="follow-us__title">Follow Us</div>
            <ul class="social-links">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>
              Copyright All Right Reserved By SORAN 2018
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>