<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md col-sm-12">
				<div class="logo">
					<a href="#"><img src="./assets/img/logo.png" alt="" class="logo__img"></a>
				</div>
			</div>
			<div class="col-md col-sm-12">
				<nav class="nav">
					<div class="nav__item">
						<div class="custom-select drop-js">
							<div class="field"><span class="field-val">select</span><i class="fas fa-caret-down"></i></div>
							<ul class="drop">
								<li class="selected" data-value="value 1">Guides</li>
							    <li data-value="value 2">Option 2</li>
							    <li data-value="value 3">Option 3</li>
							    <li data-value="value 4">Option 4</li>
							</ul>
						</div>
					</div>
					<div class="nav__item">
						<div class="custom-select drop-js">
							<div class="field"><span class="field-val">select</span><i class="fas fa-caret-down"></i></div>
							<ul class="drop">
								<li class="selected" data-value="value 1">My Account</li>
							    <li data-value="value 2">Option 2</li>
							    <li data-value="value 3">Option 3</li>
							    <li data-value="value 4">Option 4</li>
							</ul>
						</div>
					</div>
					<div class="nav__item">
						<button class="login-btn text-up">log in</button>
					</div>
					<div class="nav__item">
						<button class="join-now-btn text-up">join now</button>
					</div>
				</nav>
			</div>
		</div>
	</div>	
</header>
<div class="sub-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<h3 class="sub-header__title">AWS Study Guide</h3>
			</div>
			<div class="col-md-5 col-sm-8">
				<div class="sub-header__links">
					<div class="sub-header__links-item">
						<div class="custom-select drop-js">
							<div class="field"><span class="field-val">select</span><i class="fas fa-caret-down"></i></div>
							<ul class="drop">
								<li class="selected" data-value="value 1">Guides</li>
							    <li data-value="value 2">Option 2</li>
							    <li data-value="value 3">Option 3</li>
							    <li data-value="value 4">Option 4</li>
							</ul>
						</div>
					</div>
					<div class="sub-header__links-item">
						<a href="#" class="link">Weekly Review</a>
					</div>
					<div class="sub-header__links-item">
						<a href="#" class="link">Trending Topics</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="search search-js" (keydown)="searchMaterial($event)">
					<input type="text" [(ngModel)]="searchField">
					<button class="icon" (click)="searchMaterial('click')"></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sub-header shadow">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="menu-wrap">
					<h1><span class="burger-btn open-menu-js"><span></span></span>Topics</h1>
					<h3 class="sub-header__title">AWS Study Guide</h3>
				</div>
			</div>
		</div>
	</div>
</div>