<div class="site-content-wrap" *ngIf="material">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7">
          <div class="site-content">
  
            <div class="content-post">
  
              <h2>{{material.title}}</h2>
  
              <img src="{{material.img}}" alt="">
  
              <p>
                The gig economy creates a lot of great benefits; flexible work schedule, on-demand skills, adaptable and more affordable services (without the typical overheads of a firm). Everyday more and more platforms are emerging to help people do this kind of work. They connect people to gigs, streamline the payment and create trust. All great things, right?
              </p>
              <p>
                An unprecedented number of independent workers will disrupt the economic landscape. When I say disrupt I don’t mean in the cliché Silicon Valley definition, I mean in the true definition: “To destroy, usually temporarily, the normal continuance or unity…” A shift like this will disrupt incomes and relationships, personal and professional.
              </p>
              <h3>“ An unprecedented number of independent workers will disrupt the economic landscape. “</h3>
              <p>
                The gig economy creates a lot of great benefits; flexible work schedule, on-demand skills, adaptable and more affordable services (without the typical overheads of a firm). Everyday more and more platforms are emerging to help people do this kind of work. They connect people to gigs, streamline the payment and create trust. All great things, right?
              </p>
              
              <div class="tags-wrap">
                <div class="tags">
                  <div class="tags__item">Java</div>
                  <div class="tags__item">Analytics</div>
                  <div class="tags__item">Unity</div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="site-bar">
            <div class="site-bar__item">
              <div class="site-bar__title">
                <span class="text">Recent POST</span>
                <span class="line"></span>
              </div>
              <div class="site-bar__item-content">
                <div class="recent-post">
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-1.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-2.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-3.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-2.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="site-bar__item">
              <div class="site-bar__title">
                <span class="text">Tags</span>
                <span class="line"></span>
              </div>
              <div class="site-bar__item-content">
                <div class="tags">
                  <div class="tags__item">Java</div>
                  <div class="tags__item">Analytics</div>
                  <div class="tags__item">Unity</div>
                  <div class="tags__item">Other</div>
                  <div class="tags__item">Tag #2</div>
                  <div class="tags__item">Another</div>
                  <div class="tags__item">Python</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>