<div class="scrollableContainer" scrollable (scrollPosition)="scrollHandler($event)">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-sidenav></app-sidenav>
        <app-footer></app-footer>
</div>

