<div class="site-content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7">
          <div class="site-content">
            <div class="search-result-title">
              <h3 class="title">Search Results:</h3>
              <div class="filter">
                <span>show:</span>
                <select name="" id="" class="search-result search-result-drop-js">
                <option value="">all</option>
                <option value="">item2</option>
                <option value="">item3</option>
                <option value="">item4</option>
                <option value="">item5</option>
              </select>
              </div>
            </div>

            <!-- <app-loading-spinner *ngIf="positionTop"></app-loading-spinner> -->
  
            <div class="content-post search-result-post" *ngFor="let mat of materials; let i = index" (click)="selectItemBySearch(i, mat)">
              <img src="{{mat.img}}" alt="">
              
              <div class="tags-wrap">
                <div class="tags">
                  <div class="tags__item">Tag 1</div>
                  <div class="tags__item">Tag 2</div>
                </div>
                <div class="text">
                  Popularity: High
                </div>
              </div>
  
              <h2>{{mat.title}}</h2>
              <p>The gig economy creates a lot of great benefits; flexible work schedule, on-demand skills, adaptable and more affordable services (without the typical overheads of a firm). Everyday more and more platforms are emerging to help people do this kind of work. They connect people to gigs, streamline the payment and create trust. All great things, right?</p>
            </div>

            <app-loading-spinner *ngIf="positionBottom"></app-loading-spinner>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="site-bar">
            <div class="site-bar__item">
              <div class="site-bar__title">
                <span class="text">Recent POST</span>
                <span class="line"></span>
              </div>
              <div class="site-bar__item-content">
                <div class="recent-post">
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-1.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-2.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-3.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                  <div class="recent-post__item">
                    <div class="recent-post__image">
                      <img src="./assets/img/preview-2.jpg" alt="">
                    </div>
                    <div class="recent-post__text">
                      <span class="title">What’s so good about the collective model?</span>
                      <span class="text">Popularity: High</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="site-bar__item">
              <div class="site-bar__title">
                <span class="text">Tags</span>
                <span class="line"></span>
              </div>
              <div class="site-bar__item-content">
                <div class="tags">
                  <div class="tags__item">Java</div>
                  <div class="tags__item">Analytics</div>
                  <div class="tags__item">Unity</div>
                  <div class="tags__item">Other</div>
                  <div class="tags__item">Tag #2</div>
                  <div class="tags__item">Another</div>
                  <div class="tags__item">Python</div>
                </div>
              </div>
              <div class="site-bar__item-post">
                <h3 class="title">Some Title Goes Here With More Text</h3>
                <div class="text">
                  <p>
                    The gig economy creates a lot of great benefits; flexible work schedule, on-demand skills, adaptable and more affordable services
                  </p>
                </div>
                <div class="text bold">
                  <p>
                    Popularity: High
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>