<div class="content">
  <div class="container">
      <div class="row">
          <div class="col-md">
            <div class="tabs-wrap">
              <div class="tabs">
                <div class="tab active" data-tab="tab1">Trending Topics</div>
                <div class="tab" data-tab="tab2">Latest Content</div>
                <div class="tab" data-tab="tab3">AWS Weekly Updates</div>
              </div>
            </div>
          </div>
        </div>
    <div class="row" *ngIf="material">
      <div class="col-md">
        <div class="slider-wrap">
          <div class="slider tab-content active" id="tab1">
            <div class="slider__item"  *ngFor="let mat of material; let i = index" (click)="selectItem(i, mat)">
              <div class="slide-content">
                  <div class="image mt-30" *ngIf="i == item">
                      <img src="{{mat.img}}" alt="">
                    </div>
                <div class="text">
                  <h2 class="title">{{ mat.title }}</h2>
                  <h3 class="subtitle">{{ mat.subtitle }}</h3>
                </div>
                <div class="image mt-30" *ngIf="i !== item">
                  <img src="{{mat.img}}" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="pagination">
            <div class="arrow arrow-prev"><img src="./assets/img/arrow-left.svg" alt=""></div>
            <div class="arrow arrow-next"><img src="./assets/img/arrow-left.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>




    <div class="user-guide">
      <h2 class="user-guide__title">User Guide</h2>
      <h4 class="user-guide__subtitle">Check out our guide for new users</h4>
      <div class="row">
        <div class="col-md col-sm-6 col-xs-12">
          <div class="guide-group">
            <h3 class="guide-group__title">Section Title</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 3</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 4</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 5</a>
            </div>
          </div>
          <div class="guide-group">
            <h3 class="guide-group__title">Another Section</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 3</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 4</a>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-6 col-xs-12">
          <div class="guide-group">
            <h3 class="guide-group__title">Section 2</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 3</a>
            </div>
          </div>
          <div class="guide-group">
            <h3 class="guide-group__title">Section Title</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 3</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 4</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 5</a>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-6 col-xs-12">
          <div class="guide-group">
            <h3 class="guide-group__title">Another Section</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 3</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 4</a>
            </div>
          </div>
          <div class="guide-group">
            <h3 class="guide-group__title">Last One</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-6 col-xs-12 last">
          <div class="guide-group">
            <h3 class="guide-group__title">Last One</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
            </div>
          </div>
          <div class="guide-group">
            <h3 class="guide-group__title">Section 2</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 3</a>
            </div>
          </div>
          <div class="guide-group">
            <h3 class="guide-group__title">Last One</h3>
            <div class="guide-group__links">
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 1</a>
              <a href="#"><i class="fas fa-arrow-circle-right"></i>link 2</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>