/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: 'Open Sans', sans-serif; 
$custom-font-family: 'Open Sans', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;

//main styles

body{
	min-width: 320px;
}

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	// @include font($base-font-size,$base-line-height,$text-color);
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text-color;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}

a:hover{
	text-decoration: underline;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	margin-bottom: 0;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
// .loaded .main-wrapper{visibility:hidden;}
// .icon-load{background:url(../../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
// .loaded .icon-load{display:block;}


.text-up{
	text-transform: uppercase;
}

/*.list-unstyled { 
    height: 15px;
    width: auto;
    display: inline-block;
    border: 1px #000 solid;
}
.list-unstyled{
	list-style-type: none;
}*/
/*.list-unstyled li { padding: 5px 10px; z-index: 2; }*/
/*.list-unstyled li:not(.init) { max-width: 150px; display: none; background: #ddd; }
.list-unstyled li:not(.init):hover, ul li.selected:not(.init) { background: #09f; }*/
/*.list-unstyled li.init { cursor: pointer; }
*/

.custom-select{
	position: relative;
	min-width: 80px;
	cursor: pointer;
	.field{
		white-space: nowrap;
		color: #797979;
	    font-size: 14px;
	    font-weight: 600;

		i{
			color: #797979;
			margin-left: 7px;
			font-size: 14px;
		}
	}
	.drop{
		position: absolute;
		top: 20px;
		list-style-type: none;
		background: #fbfbfb;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.35);
		-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.35);
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.35);

		li.selected{
			background: #ccc;
		}
	}
}

.custom-select.open{
	.drop{
		opacity: 1;
		visibility: visible;
		
		li{
			padding: 6px 8px;
		}
		
	}
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	background: #fff;
}

.main-menu.opened{
	transform: translateX(0);
}

.main-menu{
	max-width: 442px;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
	background-color: #565252;
	z-index: 9000;
	padding: 50px 58px 40px 58px;
	transform: translateX(100%);
	transition: all 0.5s ease;

	.title{
		color: #ffffff;
		font-size: 24px;
		font-weight: 800;
		opacity: 0.8;
		margin-bottom: 35px;
	}

	.soc-icons{
		margin-top: 40px;
	    margin-bottom: 0;

	    ul{
	    	list-style-type: none;
	    	display: flex;
	    	justify-content: center;
	    	li{
	    		margin-right: 30px;
	    		
	    		&:last-child{
	    			margin-right: 0;
	    		}
	    		&:hover{
					a{
						i{
							color: #f7941f;
						}
					}
	    		}
	    		a{
	    			font-size: 27px;
	    			i{
	    				font-size: 27px;
						opacity: 0.6;
						color: #ffffff;
						transition: all 0.5s ease;
	    			}
	    		}
	    	}
	    }
	}
}

.accordion{
	&__item{
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}
		.accordion-title{
			color: #ffffff;
			opacity: 0.8;
			font-size: 24px;
			font-weight: 800;
			position: relative;
			display: inline;
			cursor: pointer;

			&.active{
				color: #ffffff;
				opacity: 1;

				&:before{
					content: "";
					width: 20px;
					height: 3px;
					background-color: #f7941f;
					position: absolute;
					top: 50%;
					margin-top: -1.5px;
					right: -32px;
				}
			}
		}
		.accordion-content{
			display: none;

			ul{
				list-style-type: none;
				padding: 20px 15px 0 15px;

				li{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
					a{
						color: #ffffff;
						font-size: 21px;
						opacity: 0.8;
					}
				}
			}
		}
	}
}

.overlay-menu.visible{
	opacity: 0.8;
	visibility: visible;
}

.overlay-menu{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #878787;
	z-index: 8000;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.tabs-wrap{
	display: flex;
	align-items: center;
}

.tabs{
	padding: 9px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 40px;
	display: inline-flex;
  	border-radius: 41.5px;
  	background-color: #ffffff;
  	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14);

  	.tab{
  		padding: 0 40px;
  		border-radius: 41.5px;
  		background: #fff;
  		min-height: 52px;
  		display: flex;
  		align-items: center;
  		font-size: 14px;
	    font-weight: 600;
	    color: #797979;
	    cursor: pointer;
	    margin-right: 9px;
	    text-align: center;
	    transition: all 0.5s ease;

	    &:last-child{
	    	margin-right: 0;
	    }
	    &:hover{
	    	background-color: #f7941f;
			color: #fff;
	    }
  	}

  	.tab.active{
  		background-color: #f7941f;
		color: #fff;
  	}
}

.tab-content{
	display: none;
}
.tab-content.active{
	display: block;
}


.slider-wrap{
	/* the slides */
	.slick-slide {
	    margin: 0 15px;
	}
	/* the parent */
	.slick-list {
	    margin: 0 -15px;
	}
	.mt-30{
		margin-top: 30px;
	}
	.mb-30{
		margin-bottom: 30px;
	}
	.slider{
		&__item{
			max-width: 355px;
			.slide-content{
				.title{
					font-size: 24px;
					line-height: 1.33;
	  				font-weight: 600;
					color: #2b2b2b;
					margin-bottom: 20px;
				}
				.subtitle{
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 700;
					color: rgba(0, 0, 0, 0.6);
				}
				.image{
					img{
						width: 100%;
					}
				}
			}
		}
	}
	
	.pagination{
		margin: 0 auto;
		margin-top: 50px;
		max-width: 245px;
		width: 100%;
		display: flex;

		.arrow{
			opacity: 0.5;
			margin-right: 28px;
			transition: all 0.5s ease;
			cursor: pointer;
			&:hover{
				opacity: 1;
			}
			&:last-child{
				margin-right: 0;
			}
		}
		.arrow-next{
			transform: scaleX(-1);
		}
	}
}

.user-guide{
	padding-top: 70px;

	&__title{
		color: #2b2b2b;
		font-size: 48px;
		text-align: center;
		font-weight: 700;
		margin-bottom: 38px;
	}
	&__subtitle{
		font-size: 18px;
		text-align: center;
		line-height: 1.67;
		color: #797979;
		margin-bottom: 50px;
	}
	.last .guide-group{
		padding-left: 60px;
	}
}

.guide-group{
	padding: 0 30px;
	margin-bottom: 45px;
	&__title{
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 35px;
		color: #767676;
	}
	&__links{
		i{
		  font-size: 12px;
		  margin-right: 10px;
		}
		a{
			color: #4ea3fe;
			line-height: 2.13;
			font-weight: 300;
			font-size: 16px;
			display: block;
		}
	}
}


.subscribe{
	width: 100%;
	padding: 68px 0;
	background-color: #f7941f;


	&__text{
		font-size: 30px;
		color: #ffffff;
		font-weight: 700;
		height: 100%;
	    display: flex;
	    align-items: center;
	}
	&__form{
		max-width: 600px;
		width: 100%;
		
  		.input{
  			border-radius: 35px;
  			background-color: #ffffff;
  			display: flex;
  			align-items: center;
  			justify-content: space-between;
  			min-height: 70px;
  			height: auto;
  			overflow: hidden;
  			span{
  				padding: 0 35px;
  				width: calc(100% - 150px);
  				height: 100%;
  				display: flex;
  				align-items: center;

  				i{
  					font-size: 24px;
					color: #f7941f;
					margin-right: 10px;
  				}

  				input{
  					width: 100%;
  					height: 100%;
  					line-height: 30px;
  					border: 0;
  					outline: 0;
  					font-size: 14px;
  					font-weight: 300;
  					color: #8e8e8e;
  				}
  				input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #8e8e8e;
				  font-size: 14px;
				}
				input::-moz-placeholder { /* Firefox 19+ */
				  color: #8e8e8e;
				  font-size: 14px;
				}
				input:-ms-input-placeholder { /* IE 10+ */
				  color: #8e8e8e;
				  font-size: 14px;
				}
				input:-moz-placeholder { /* Firefox 18- */
				  color: #8e8e8e;
				  font-size: 14px;
				}
  			}
  			button{
  				max-width: 150px;
  				width: 100%;
  				height: 100%;
  				min-height: 70px;
  				border: 0;
  				background-color: #565252;
  				color: #ffffff;
  				font-size: 18px;
  				font-weight: 600;
  			}
  		}
	}
}




///////////////search-result-styles


.site-content-wrap{
	padding: 70px 0;
}

.site-bar{
	&__title{
		position: relative;
		margin-bottom: 10px;
		color: #2b2b2b;
		letter-spacing: 5px;
		font-size: 11px;
		text-transform: uppercase;
		.text{
			padding-right: 23px;
			background: #fff;
			position: relative;
			z-index: 2;
		}
		.line{
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: #d8d8d8;
			left: 0;
			top: 50%;
			margin-top: -0.5px;
			z-index: 1;
		}
	}

	&__item-content{
		padding: 30px 0;
	}
	&__item-post{
		border-radius: 3px;
  		border: solid 1px #dadada;
  		padding: 65px 50px;

  		.title{
			color: #2b2b2b;
			line-height: 1.33;
			font-size: 24px;
			margin-bottom: 40px;
			font-weight: 400;
  		}
  		.text{
			margin-bottom: 30px;
			
			p{
				padding: 0;
				color: #797979;
				line-height: 1.63;
				font-size: 16px;
			}
			&:last-child{
				margin-bottom: 0;
			}
  		}
  		.text.bold{
  			p{
  				font-weight: 600;
  			}
  		}
	}
}


.recent-post{
	&__item{
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__image{
		margin-right: 15px;
		border-radius: 50%;
		overflow: hidden;
		min-width: 100px;
		max-width: 100px;
		width: 100%;
		img{
			width: 100%;
		}
	}
	&__text{
		display: flex;
		flex-direction: column;

		.title{
			margin-bottom: 13px;
			font-size: 16px;
			font-weight: 600;
			color: #2b2b2b;
			line-height: 1.5;
		}
		.text{
			color: #797979;
			font-size: 14px;
  			font-weight: 600;
		}
	}
}

.tags{
	display: flex;
	flex-wrap: wrap;
	&__item{
		min-width: 95px;
		text-align: center;
		padding: 12px 6px;
		color: #2b2b2b;
		letter-spacing: 5px;
		font-size: 11px;
		margin-right: 13px;
		margin-bottom: 13px;
		border-radius: 3px;
 	 	background-color: #f7f6f6;
 	 	text-transform: uppercase;
	}
}

.site-content{
	padding-right: 25px;
}

.search-result-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	.title{
		color: #2b2b2b;
		font-size: 30px;
  		font-weight: 600;
	}
	.filter{
		display: flex;
		align-items: center;
		&>span{
			color: #2b2b2b;
			font-size: 14px;
  			font-weight: 600;
			margin-right: 20px;
		}
	}
}
.content-post.search-result-post{
	h2{
		color: #2b2b2b;	
		line-height: 1.33;
		font-size: 24px;
  		font-weight: 600;
  		max-width: 530px;
  		margin-bottom: 20px;
	}
}
.content-post{
	margin-bottom: 30px;
	img{
		width: 100%;
		margin-bottom: 30px;
	}

	.tags-wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.text{
			color: #797979;
			font-size: 14px;
  			font-weight: 600;
		}
	}

	h2{
		color: #2b2b2b;
		font-size: 46px;
		font-weight: 400;
		line-height: 1.3;
		margin-bottom: 30px;
	}
	h3{
		color: #2b2b2b;
		line-height: 1.33;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 25px;
	}
	p{
		margin-bottom: 25px;
		color: #797979;
		line-height: 1.63;
		font-size: 16px;
		padding: 0;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 992px){
	.slider-wrap .slider__item .slide-content .title{
		font-size: 16px;
	}

	.user-guide .last .guide-group{
		padding-left: 30px;
	}

	.subscribe{
		padding: 40px 0;
	}

	.subscribe__text{
		justify-content: center;
		height: auto;
		margin-bottom: 30px;
	}
	.user-guide__title{
		font-size: 40px;
	}
	.user-guide__subtitle{
		font-size: 16px;
	}

	.accordion__item .accordion-title{
		font-size: 20px;
	}
	.accordion__item .accordion-content ul li a{
		font-size: 16px;
	}
	.user-guide .row > div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.guide-group{
		max-width: 250px;
		width: 100%;
	}
	.content-post.search-result-post h2{
		font-size: 18px;
	}
	.content-post p{
		font-size: 14px;
	}
	.site-bar__item-post{
		padding: 35px 30px;
	}
	.site-bar__item-post .title{
		font-size: 20px;
	}
	.site-bar__item-post .text p{
		font-size: 14px;
	}
	.content-post h2{
		font-size: 28px;
	}
	.nav{
		display: flex;
		padding-top: 15px;
		justify-content: center;
	}
	.nav__item{
		margin-right: 30px;
	}
	.nav .join-now-btn{
		width: 120px;
		height: 30px;
		line-height: 1;
	}
	/*.user-guide .row > div{
		text-align: center;
	}
	.guide-group{
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}*/
}

@media screen and (max-width: 767px) {
	.site-content{
		padding-right: 0;
	}
}

@media(max-width: 500px){
	.subscribe__text{
		font-size: 20px;
	}
	.subscribe__form .input{
		min-height: 45px;
	}
	.subscribe__form .input span{
		width: calc(100% - 100px);
		padding: 0 15px;
	}
	.subscribe__form .input span i{
		font-size: 16px;
	}
	.subscribe__form .input span input{
		font-size: 12px;
	}
	.subscribe__form .input span input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-size: 12px;
	}
	.subscribe__form .input span input::-moz-placeholder { /* Firefox 19+ */
	  font-size: 12px;
	}
	.subscribe__form .input span input:-ms-input-placeholder { /* IE 10+ */
	  font-size: 12px;
	}
	.subscribe__form .input span input:-moz-placeholder { /* Firefox 18- */
	  font-size: 12px;
	}
	.subscribe__form .input button{
		font-size: 14px;
		min-height: 45px;
		max-width: 100px;
	}
}

@media(max-width: 580px){
	.sub-header__links{
		padding-top: 15px;
		justify-content: center;
	}
	.sub-header__title{
		text-align: center;
	}
	.nav{
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.nav__item{
		width: 48%;
		margin-right: 0;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.logo{
		margin: 0 auto;
	}
}


@media(max-width: 550px){
	.slider-wrap .slider__item{
		max-width: 550px;
	}
	.tabs{
		flex-direction: column;
		border-radius: 34.5px;

		.tab{
			margin-right: 0;
			margin-bottom: 9px;
			justify-content: center;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



