
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer{
	padding: 100px 0 80px 0;
	background-color: #fbfbfb;
	position: relative;

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	    bottom: 0;
	    background: url(../../img/waves-svg.svg) 0 bottom no-repeat;
	    -webkit-background-size: cover;
	    background-size: 110%;
	    background-position-x: -40px;
	}

	&__group-title{
		color: #767676;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 35px;
		text-transform: uppercase;
	}

	&__group-links{
		a{
			display: block;
			line-height: 2.13;
			color: #767676;
			font-size: 16px;
  			font-weight: 300;
  			i{
				color: #c1c1c1;
				font-size: 12px;
				margin-right: 10px;
  			}
		}
	}

	.follow-us{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 70px;
		margin-bottom: 33px;

		&__title{
			font-size: 20px;
			color: #999999;
			font-weight: 700;
			margin-right: 25px;
		}

		.social-links{
			list-style-type: none;
			display: flex;
			li{
				margin-right: 13px;
				&:last-child{
					margin-right: 0;
				}
			}

			a{
				i{
					color: #999999;
					font-size: 24px;
					transition: all 0.5s ease;
				}

				&:hover i{
					color: #f7941f;
				}
			}
		}
	}

	.copyright{
		text-align: center;

		p{
			color: #878787;
			font-size: 14px;
  			font-weight: 300;
		}
	}
}


@media screen and (max-width: 992px){
	.footer__group{
		margin-bottom: 40px;
		display: inline-block;
    	text-align: left;
	}

	.footer .row>div{
		text-align: center;
	}
}


@media screen and (max-width: 1200px) {
	
}



@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}