
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	background-color: #fbfbfb;
	min-height: 100px;
	padding: 24px 0;
	display: flex;
	align-items: center;	
}

.logo{
	max-width: 225px;
	height: 100%;
    display: flex;
    align-items: center;

	&__img{
		width: 100%;
	}
}

.nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;

	&__item{
		margin-right: 45px;
		&:last-child{
			margin-right: 0;
		}
	}

	button{
		color: #797979;
		font-size: 14px;
		font-weight: 600;
		border: none;
		background: transparent;
		white-space: nowrap;
	}

	.login-btn{
		
	}

	.join-now-btn{
		width: 159px;
	    height: 52px;
	    line-height: 52px;
	    color: #fff;
	    text-align: center;
	    border-radius: 26px;
	    background-color: #f7941f;
	}
}


.sub-header{
	min-height: 70px;
	padding: 20px 0;
	height: auto;
	background-color: #ffffff;
    border-bottom: solid 1px rgba(151, 151, 151, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;

    h3{
    	font-size: 20px;
		font-weight: 600;
		color: #797979;
    }
    &__links{
    	display: flex;
    	align-items: center;
    	height: 100%;
    }
    &__links-item{
    	margin-right: 45px;
		&:last-child{
			margin-right: 0;
		}
    	.link{
    		color: #797979;
			font-size: 14px;
			font-weight: 600;
			text-decoration: none;
			&:hover{
				color: #797979;
				text-decoration: none;
			}
    	}	
    }
    .search{
    	display: flex;
    	justify-content: flex-end;

    	input{
    		max-width: 200px;
    		border: none;
    		border-bottom: 2px solid #797979;
    		width: 0;
			outline: 0;
			font-size: 14px;
			font-weight: 300;
			color: #8e8e8e;
    		transition: all 1s ease;

    		&.opened{
    			width: calc(100% - 28px);
    		}
    	}
    	.icon{
    		display: inline-block;
    		width: 28px;
  			height: 28px;
  			background: url(../../img/search.png) 0 0 no-repeat;
  			background-size: cover;
  			border: 0;
  			transition: all 0.5s ease;

  			&.active{
  				background: url(../../img/search-active.png) 0 0 no-repeat;
  			}
    	}
    }
}

.sub-header.shadow{
	border: none;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;

	h1{
		color: #2b2b2b;
	    font-size: 30px;
	    font-weight: 600;
	    display: flex;
	    align-items: center;
	    margin-right: 50px; 
	}
}

.menu-wrap{
	display: flex;
	align-items: center;
}

.burger-btn{
	width: 26px;
	height: 20px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-right: 14px;
	margin-top: 3px;
	cursor: pointer;

	span{
		width: 100%;
		height: 4px;
  		border-radius: 3px;
  		background-color: #2b2b2b;

  		&:before{
  			content: "";
  			position: absolute;
  			top: 0px;
  			width: 100%;
			height: 4px;
	  		border-radius: 3px;
	  		background-color: #2b2b2b;
  		}
  		&:after{
  			content: "";
  			position: absolute;
  			bottom: 0px;
  			width: 100%;
			height: 4px;
	  		border-radius: 3px;
	  		background-color: #2b2b2b;
  		}
	}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px){
	.sub-header h3{
		font-size: 15px;
	}
	.sub-header__links-item .link{
		font-size: 11px;
	}
	.sub-header .search{
		padding-top: 20px;
		max-width: 80%;
		margin: 0 auto;
	}
	.sub-header .search input{
		width: calc(100% - 28px);
		max-width: 100%;
	}
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
